.view-main{
   height: 100%;
   margin: 0;
   padding: 0;
   background: url("/views/main/img/old_wall.png") repeat;
   font-family: Arial, Helvetica, sans-serif;
}
.view-main__navBar{
   height: 45px;
   background-color: #669999;
   color: #ffffff;
}
.view-main__navBar__ctn{
   width: 1100px;
   margin: 0 auto;
   text-align: right;
}
.view-main__navBar__link{
   color: #fff;
   display: inline-block;
   text-decoration: none;
   line-height: 45px;
   height: 45px;
   font-size: 17px;
   padding: 0 10px;
}
.view-main__navBar__link:hover{
   background-color: #336666;
}
.view-main__navBar__icon{
   vertical-align: middle;
   margin-top: -3px;
}
.view-main__contentWrapper{
   width: 1100px;
   margin: 0 auto;
}