html, body{
   height: 100%;
}
.view-main{
   min-height: 100%;
   margin: 0;
   padding: 0;
   background: url("/views/main/img/ricepaper_v3.png") repeat;
   font-family: Arial, Helvetica, sans-serif;
}
.view-main__content{
   min-height: 100%;
   height: 1px;
}
.view-main__navBar{
   height: 45px;
   background-color: #579594;
   color: #ffffff;
}
.view-main__footer .view-main__navBar{
   background-color: #40505f;
}
.view-main__navBar__ctn{
   width: 1100px;
   margin: 0 auto;
   text-align: right;
}
.view-main__navBar__link{
   color: #fff;
   display: inline-block;
   text-decoration: none;
   line-height: 45px;
   height: 45px;
   font-size: 17px;
   padding: 0 10px;
}
.view-main__navBar__link:hover{
   background-color: #336666;
}
.view-main__footer .view-main__navBar__link:hover{
   background-color: #393146;
}
.view-main__navBar__icon{
   vertical-align: middle;
   margin-top: -3px;
}
.view-main__contentWrapper{
   width: 1100px;
   margin: -45px auto 0;
   min-height: 100%;
   position: relative;
}
.view-main__footer{
   margin-top: -45px;
}
.view-main__navBar__leftSide{
   float: left;
   line-height: 45px;
   padding: 0 10px;
}
.view-main__navBar__simpleLink{
   color: #fff;
   text-decoration: none;
}
.view-main__navBar__simpleLink:hover{
   text-decoration: underline;
}
.view-main__whitePage{
   width: 823px;
   background-color: #ffffff;
   border: solid #a4baa3;
   border-width: 0 1px;
   position: absolute;
   right: 0;
   top: 0;
   bottom: 45px;
}

.view-main__contentWrapper .docs-DocPage{
   position: relative;
   z-index: 1;
   padding-bottom: 45px;
   margin-top: 45px;
}