.docs-DocPage__logo{
   display: block;
   background: url("./img/sailfish-side.png") no-repeat;
   width: 265px;
   height: 230px;
   margin-top: -35px;
   margin-bottom: -40px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
   .docs-DocPage__logo {
      background-image: url("./img/sailfish-side@x2.png");
      background-size: cover;
   }
}
.doc-DocPage__docContent{
   display: block;
}
.doc-DocPage__mainPageContent{
   display: none;
}
.docs-DocPage__indexPage{
   .docs-DocPage__logo{
      display: none;
   }
   .doc-DocPage__left{
      margin-top: 42px;
   }
   .doc-DocPage__docContent{
      display: none;
   }
   .doc-DocPage__mainPageContent{
      display: block;
   }
}

.doc-DocPage__left{
   float: left;
   width: 276px;
}
.doc-DocPage__right{
   padding-left: 275px;
}
.doc-DocPage__clearHelper{
   clear: both;
}